---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import MainHero from "../components/MainHero.astro";
import ThreeDShowcase from "../components/ThreeDShowcase.astro";
import VideoSection from "../components/VideoSection.astro";
import PoleraShowcase from "../components/PoleraShowcase.astro";
import ProductShowcase from "../components/ProductShowcase.astro";
import Cart from "../components/Cart.astro";
import ProductModal from "../components/ProductModal.astro";
import Toast from "../components/Toast.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="Tienda HDM">
	<Navbar />
	<main>
		<MainHero />
		<ThreeDShowcase />
		<VideoSection />
		<PoleraShowcase />
		<ProductShowcase />
	</main>
	<Cart />
	<ProductModal />
	<Toast />
	<Footer />
</MainLayout>

<style>
	main {
		overflow-x: hidden;
		min-height: 100vh;
		background-color: var(--color-bg);
	}
</style>
