---
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "Marca de ropa urbana de primera calidad: define tu estilo.",
} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<!-- Google Fonts: IBM Plex Family -->
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=IBM+Plex+Sans:wght@300;400;600;700;800&family=IBM+Plex+Serif:ital,wght@0,400;0,600;1,400&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />
		<script src="../scripts/animations.js"></script>
	</body>
</html>
